<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/simple.css}" rel="stylesheet" />
</head>
<body>
<h1>
    <a th:href="@{/tdls}">my to-do-list</a>
</h1>
<form th:action="@{/tdls/create}" th:object="${TDL}" method="post">
    <p th:if="${#fields.hasErrors('todos')}" th:errors="*{todos}">Incorrect todos</p>
    <tr th:each="todo, iter : *{todos}">
        <!--공백인 경우 ${todo.name}이 없어서 문제가되므로 빈 input을 보여준다-->
        <input th:if="${todo != null}" th:name="todos" th:value="${todo.name}" type="text">
        <input th:unless="${todo != null}" th:name="todos" type="text">
        <br>
    </tr>

    <br>
    <input type="submit" name="add" value="추가">
    <input type="submit" name="submit" value="제출">
</form>
</body>
</html>