<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    <a th:href="@{/to-do-lists}">my to-do-list</a>
</h1>
<form th:action="@{/to-do-lists/create}" th:object="${toDoList}" method="post">
    <p th:if="${#fields.hasErrors('toDos')}" th:errors="*{toDos}">Incorrect todos</p>
    <tr th:each="toDo, iter : *{toDos}">
        <!--공백인 경우 ${todo.name}이 없어서 문제가되므로 빈 input을 보여준다-->
        <input th:if="${toDo != null}" th:name="toDos" th:value="${toDo.name}" type="text">
        <input th:unless="${toDo != null}" th:name="toDos" type="text">
        <br>
    </tr>

    <br>
    <input type="submit" name="add" value="추가">
    <input type="submit" name="submit" value="제출">
</form>
</body>
</html>