<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>to-do details</title>
    <link th:href="@{/css/simple.css}" rel="stylesheet" />
</head>
<body>
<h1>
    <a th:href="@{/tdls}">my to-do-list</a>
</h1>
<form th:action="@{/tdls/update/{id}(id=${TDL.id})}" th:object="${TDL}" method="post">
    <table>
        <tr th:text="*{date}"></tr>
        <tr th:each="todo, iter : *{todos}">
            <th th:text="${iter.index + 1} + ."></th>
            <td>
                <input type="checkbox" th:id="todo + ${iter.index}" th:name="checkedToDos" th:value="${iter.index}" th:checked="${todo.done}"/>
                <del th:if="${todo.done}"><label th:for="todo + ${iter.index}" th:text="${todo.name}"></label></del>
                <label th:unless="${todo.done}" th:for="todo + ${iter.index}" th:text="${todo.name}"></label>
                <input type="hidden" th:name="todos" th:value="${todo.name}"/>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" name="done">
</form>
</body>
</html>